<a href="https://github.com/lolptdr/erato">
  <img style="position: absolute; top: 50px; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png">
</a>
<h1 class="title-page">
  About
</h1>

<div class="copy-text">
  Images, sounds, taste, hearing, smell...<br /><br />
  Humans are sensory interactions and we are the product of its interpretation. This app is intended to unite various senses to evoke feelings of discomfort, tranquility, fleeting feelings, and more. If not that, at least you get to see interesting stuff!<br /><br />
  Current features: 
  <ul>
    Sound to Waveform conversion with playable effects<br />
    Example of Using Muse DSL to play and compose music
  </ul>
  Future features:
  <ul>
    Tweet picture into @pixelsorter, which sends re-tweet back to another bot for further manipulation<br />
    Update image/sound decoding/encoding abilities with UX/UI to manipulate RBGA, pixel assortment, etc.<br />
    Integrate Soundcloud API and Instagram API and make bots of them<br />
    Create open sandbox for other users to manipulate other user's pics<br />
    Create steganograms!
  </ul>
  <br /><br />
  Made from various waveforms and contorted into a cartoid with eyes reminscent of a blushing girl with a dimple chin: <br /><br />
  <%= image_tag "heartic.png", :size => "800x600" %>
  <br /><br />
  Here is some of my inspiration:<br /><br />
  <h1 class="title-page">Animated Graphical Score<br /></h1>
  You can almost feel the calmness of the color changes with pitch and sustaining of the notes.
  <iframe width="560" height="315" src="//www.youtube.com/embed/ipzR9bhei_o?list=PL81D26D4A47388279" frameborder="0" allowfullscreen></iframe>
  <%= image_tag "fugue-stream.png", :size => "1100x780" %>
  <br /></br />
  <h1 class="title-page">Example of Audio Encoding Within Images: <br /> </h1>
  PiggyPack (Steganography)
  <br /></br />
  <a href="http://9ol.es/PiggyPack.html">
    <%= image_tag "http://i.imgur.com/9bEZg.png", :size => "360x300" %>
  </a><br /></br />
  <a href="http://hackaday.com/2012/02/27/this-image-contains-a-hidden-audio-track/">http://hackaday.com/2012/02/27/this-image-contains-a-hidden-audio-track/</a><br /></br />
  <h1 class="title-page">Example of Image Encoding Within Audio: <br /></h1>
  Aphex Twin's "[Equation]" (actual <a href="http://i.imgur.com/BUgSLIx.png">name</a> of the song) is a great example of steganography, encoding of data into another form to hide it's existence. Skip to <a href="http://youtu.be/M9xMuPWAZW8?t=5m25s">~5:25</a> if you are impatient. =)
  <br /></br />
  <iframe width="560" height="315" src="//www.youtube.com/embed/M9xMuPWAZW8" frameborder="0" allowfullscreen></iframe>
</div>
<div class="panel-footer"></div>