// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *, *:before, *:after {
//    border: 1px solid red;
//    -webkit-box-sizing: border-box;
//    box-sizing: border-box;
// }

.title-page {
  font-family: 'Alegreya SC', sans-serif;
}

.copy-text {
  text-align: center;
}

.copy-text img{
  max-width:100%;
  height:auto;
}