/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/**, *:before, *:after {
   border: 1px solid red;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}*/

video#bgVideo {
  position: fixed; // Play the video in full screen mode
  right: 0px; 
  bottom: 0px;
  width: auto;
  height: auto;
  /*background: transparent url('') no-repeat center center fixed; 
  background-size: cover;*/
  min-width: 100%; 
  min-height: 100%;
  z-index: -100; // Put the video behind all other elements
}

/*body.background {
  background: url('heartic.png') fixed;
}*/

/* Back-to-top button following scroll */
.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 20px;
  /* if in doubt, use full path with http://...*/
  background: url('arrows.png') left top no-repeat; 
  width: 25px;
  height: 23px;
}

.back-to-top a {
  text-indent: -9999px;
  display: block;
}

.back-to-top:hover { 
  /* if in doubt, use full path with http://...*/
  background:url('arrows.png') left -23px no-repeat; 
}


html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
}

/* Set fixed height of the footer */
#push, #footer {
  height: 60px;
}
#footer {
  background-color: #fff;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  font-family: 'Hammersmith One', sans-serif;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.clearfix:after { 
  clear: both;
}
.clearfix:before, 
.clearfix:after {
  content: " ";
  display: table;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* table */ 

th {
  text-align: center;
}

tbody {
  text-align: center;
}


@media (max-width: 768px) {
  video {
    display:none;
  }
  .small-bg{
    max-width:100%;
    height:auto;
  }
  .pull-right {
    display:none;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) {

}