/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**, *:before, *:after {
   border: 1px solid red;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}*/

body.background {
  background: url('heartic.png') fixed;
}

/* Back-to-top button following scroll */
.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 20px;
  /* if in doubt, use full path with http://...*/
  background: url('arrows.png') left top no-repeat; 
  width: 25px;
  height: 23px;
}

.back-to-top a {
  text-indent: -9999px;
  display: block;
}

.back-to-top:hover { 
  /* if in doubt, use full path with http://...*/
  background:url('arrows.png') left -23px no-repeat; 
}


html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
}

/* Set fixed height of the footer */
#push, #footer {
  height: 60px;
}
#footer {
  background-color: #fff;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}